@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
:root{
    --orange:hsl(25, 97%, 53%) ;
    --white:hsl(0, 0%, 100%);
    --light-grey:hsl(217, 12%, 63%);
    --medium-grey:hsl(216, 12%, 54%);
    --dark-blue:hsl(213, 19%, 18%);
    --BG-blue:hsl(215, 20%, 16%);
    --very-dark-blue:hsl(216, 12%, 8%);
    --mid-blue:hsl(210, 19%, 18%);

    --sm:1.3rem;
    --md:1.5rem;
    --lg:2.6rem;

    font-size: 62.5%;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--very-dark-blue);
    font-family: 'Overpass', sans-serif;
}
.mainContainer{
    display: grid;
    place-items: center;

    width: 100vw;
    height: 98vh;
}
.card{
    display: grid;
    grid-template-rows: 20% 15% 20% 30% 10%;
    
    padding: 2.4rem;
    max-width: 33.5rem;
    height: 45%;

    background-color: var(--BG-blue);
    border-radius: 1.8rem;
}
.rateCard__starFg{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 4.0rem;
    height: 4.0rem;

    border-radius: 50%;
    background-color: var(--mid-blue);
}
.titles{
    font-size: var(--lg);
    color: var(--white);
    font-weight: 700;
}
.descriptions{
    font-size: var(--sm);
    color: var(--light-grey);
    line-height: 1.9rem;
} 
.selectedText{
    font-size: var(--sm);
}
.rateCard__btn{
    width: 100%;
    height: 3.6rem;
    margin: 0rem auto 0 auto;

    background-color: var(--orange);
    color: var(--white);
    font-weight: 700;
    border-radius:1.8rem;
    border: 0;
    letter-spacing: .2rem;
}
.rateCard__btn:hover{
    color: var(--orange);
    background-color: var(--white);
    cursor: pointer;
}
.rateCard__scoreContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rateCard__score{
    display: flex;
    justify-content: center;
    align-items: center;

    width: 4.3rem;
    height: 4.3rem;

    background-color: var(--mid-blue);
    border-radius: 50%;

    color: var(--light-grey);
    font-size: var(--md);
}
.rateCard__score:hover{
    background-color: var(--orange);
    color: var(--white);
    cursor: pointer;
}
.inputRates:checked + .rateCard__score{
    background-color: var(--medium-grey);
    color: var(--white);
}
.inputRates{
    visibility: hidden;
}
.thanksCard{
    display: grid;
    grid-template-rows: 60% 40%;
    place-items: center;
}
.thanksCard__title{
    text-align: center;
    margin-bottom: 1.2rem;
}
.thanksCard__draw{
    margin-bottom: 2.0rem;
}
.thanksCard__description{
    text-align: center;
}
.selectedText{
    height: 3.0rem;
    line-height: 3.0rem;

    border-radius: 1.5rem;
    background-color: var(--mid-blue);

    font-weight: 700;
    color: var(--orange);
    text-align: center;
}
.inactive{
    display: none;
}
@media (min-width:1000px) {
    .card{
        height: 36.0rem;
    }
}